@model TGRC.Models.Accession

@Model.AccessionNum
<div class="form-group row">
    <label asp-for="AccessionNum" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input type="text" asp-for="AccessionNum" readonly class="form-control-plaintext">
    </div>
</div>
<div class="form-group row">
    <label asp-for="Status" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input type="text" asp-for="Status" readonly class="form-control-plaintext">
    </div>
</div>