@model TGRC.Models.AccessionRecentViewModel


<h1>Acquisitions by Year</h1>

<form asp-action="Recent" method="post">
    <input type="hidden" id="Search" name="Search" value="True">    
    <div class="container col-sm-12 collapse show" id="SearchCollapse">        
        <div class="form-group row">
            <label asp-for="SelectedYear" class="col-sm-1 col-form-label">Year</label>
            <div class="col-sm-2">
                        <select asp-for="SelectedYear" class="form-select form-select-sm" asp-items="@(new SelectList(Model.AccessionYears))"></select>
                    </div>
        </div>
        <div class="text-center">
            <input type="submit" value="Search" class="btn btn-primary"></input>
        </div>
    </div>
</form>

@if (Model.accessions.Any())
{
    <hr>
    <div class="col-sm-12 container row" style="min-height: 100%; height: 100%;">
        <div class="col-sm-2 border" id="navigationResults">
            <h3>Results</h3>
            <h5>Total: @Model.accessions.Count</h5>
            <div>
                @foreach (var acc in Model.accessions)
                {
                    <a class="searchA" target="resultFrame" asp-action="detail" asp-controller="Accession" asp-route-id="@acc.AccessionNum">@acc.AccessionNum</a>
                    <br>
                }
            </div>
        </div>
        <div class="col-sm-10 border embed-responsive iframe-container">
            <iframe width="100%" height="100%" class="embed-responsive-item" title="Results View of from selected Accession"
                name="resultFrame" id="resultFrame"></iframe>
        </div>
    </div>
}

@section Scripts {
    <script type="text/Javascript">       
        $( document ).ready(function() {
           $("div#navigationResults a").each(function ()
            {
                $(this).bind("click", function ()
                {
                    $(this).css("color", "black");
                });
            });
            $(".searchA").click(function(e){
                if(!e.ctrlKey && !e.shiftKey){
                    e.preventDefault();
                    var link = $(this).attr("href") + "?frame=yes";
                    $("#resultFrame").attr("src", link);
                    
                }
            });         
        });  
    </script>    
}