html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-nav {
  background: #022851;
  padding: .24em .3em .25em;
  font-weight: bold;
}

.nav-link:hover, .nav-link:active:hover{
  background-color: #ffbf00;
  color: #022851 !important;
  font-weight: bold;
}

